<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
    </head>
    <body>
        <h1>{{ hashtag['text'] }}</h1>
        <ul>
            {% for key, value in hashtag['users'] %}
            <li><h3>{{ key }}: {{ value }} uses</h3>
            {% endfor %}
        </ul>
        <div class="row">
		  <div class="col-xs-12" align="center">
		  	<a href="/index" style="color: #CC0000">Return to home page</a>
		  </div>
	    </div>
        <footer>
            <p align="center">Created by Claire Huang & Kyle Su</p>
        </footer>
    </body>
</html>