<!DOCTYPE html>
<html>
	<head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
    </head>
    <body>
        <div class="row" style="margin-bottom: 20px;" align="center">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <h1>Twitter Bot</h1>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <form id="usersubmitform" action="/searchuser" method="post" style="margin-bottom: 20px;" onsubmit="searchUser(); return false">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Search username">
                    <input type="submit" value="Search for user" class="btn btn-lg btn-primary btn-block">
                </div>
                <div class="col-xs-4"></div>
            </div>
        </form>
        <form action="/searchhashtag" method="post">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <input type="text" name="hashtag" id="hashtag" class="form-control input-lg" placeholder="Search hashtag">
                    <input type="submit" value="Search for hashtag" class="btn btn-lg btn-primary btn-block">
                </div>
                <div class="col-xs-4"></div>
            </div>
        </form>
        <footer>
            <p align="center">Created by Claire Huang & Kyle Su</p>
        </footer>

        <script>
            var searchUser = function() {
                console.log($('#username').val());
                var username = $('#username').val();
                if (username === "") {
                    alert("Empty username");
                } else {
                    var postUsername = {
                        name: username
                    };

                    console.log("hello: " + postUsername.name);

                    $.post("/searchuser", postUsername, function(data) {
                        if (data === "false") {
                            alert("Username not found");
                        } else {
                            $("html").empty();
                            $("html").append(data);
                        }
                    });
                }
            }
        </script>
    </body>
</html>