<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
    </head>
    <body>
        <div class="row" style="margin-bottom: 20px;" align="center">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <h1><a href="http://www.twitter.com/{{ username }}">@{{ username}}</a></h1>
            </div>
            <div class="col-xs-4"></div>
        </div>

        <div class="row" style="margin-bottom: 20px;" align="center">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                {% for hashtag in hashtags %}
                <h3>#{{ hashtag[0] }}: {{ hashtag[1] }} uses</h3>
                {% endfor %}
            </div>
            <div class="col-xs-4"></div>
        </div>

        <div class="row">
		  <div class="col-xs-12" align="center">
		  	<a href="/" style="color: #CC0000">Return to home page</a>
		  </div>
	    </div>
        
        <footer>
            <p align="center">Created by Claire Huang & Kyle Su</p>
        </footer>
    </body>
</html>