<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
    </head>
    <body>
        <h1>{{ username }}</h1>
        <ul>
            {% for hashtag in hashtags %}
            <li><h3>{{ hashtag[0] }}: {{ hashtag[1] }} uses</h3>
            {% endfor %}
        </ul>
        <div class="row">
		  <div class="col-xs-12" align="center">
		  	<a href="/" style="color: #CC0000">Return to home page</a>
		  </div>
	    </div>
        <footer>
            <p align="center">Created by Claire Huang & Kyle Su</p>
        </footer>
    </body>
</html>