<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
    </head>
    <body>
        {% for key in user %}
        <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
        {% endfor %}
        <div class="row">
		  <div class="col-xs-12" align="center">
		  	<a href="/index" style="color: #CC0000">Return to home page</a>
		  </div>
	    </div>
        <footer>
            <p align="center">Created by Claire Huang & Kyle Su</p>
        </footer>
    </body>
</html>